body {
  background-color: #0d335b;
  width: 100%;
  height: 100%;
  font-family: "Spectral", serif;
}

.name {
  margin: 2% 10% 3% 10%;
  width: 80%;
  font-size: 60px;
  font-weight: bold;
  /* font-style: italic; */
  text-align: center;
  color: #ffffff;
}

.nav-tabs {
  background-color: #ffffff;
}

.nav-item > .active {
  background-color: #0d335b;
  color: #ffffff;
}
.main > .search {
  width: 80%;
  margin: 0 10%;
}

.search .searchField {
  margin: 5px 0;
}

.main > .content {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 10%;
}

.animationCreate {
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
}

.form-song {
  width: 60%;
  margin: 20px 20%;
  resize: none;
}
.btn-area {
  width: 62%;
  margin: 20px 19%;
}

.card-text {
  height: 400px;
  overflow-y: scroll;
}

.statistic {
  height: 72px;
  padding: 10px 30px;
}

#showStat {
  background-color: #0d335b;
  font-size: 30px;
  float: right;
  color: #ffd5d5;
  display: none;
  animation-delay: 2s;
  animation: show 1s 1;
  border: none;
}

#showStat:hover {
  color: #ff9cb9;
}

.export {
  float: right;
  margin-left: auto;
  margin-right: 50px;
}
.statIcon {
  display: inline-block;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
