<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Model</title>
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add a song</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Statistic</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="main">
          <div class="name">
            <span>Search rhymes in songs</span>
          </div>
          <div class="search">
            <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 searchField">
                <input type="text" id="searchIpt" class="form-control" placeholder="Write your word" value="">
              </div>
              <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 searchField">
                <button type="button" id="searchBtn" class="btn btn-block btn-light" disabled>Search</button>
              </div>
            </div>
          </div>
          <div class="content" id="content"></div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form-group">
          <div class="name">
            <span>Add a new song</span>
          </div>
          <textarea class="form-control form-song" maxlength="50" rows="1" id="singer" placeholder="Singer"></textarea>
          <textarea class="form-control form-song" maxlength="50" rows="1" id="title" placeholder="Title"></textarea>
          <textarea class="form-control form-song" rows="27" id="songText" placeholder="Text"></textarea>
          <div class="row btn-area">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <button type="button" class="btn btn-block btn-danger" id="btn-clear">Clear area</button>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <button type="button" class="btn btn-block btn-light" id="btn-search">Search text</button>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <button type="button" class="btn btn-block btn-light" id="btn-add">Add a song</button>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Okey</div>
    </div>


    <script type="module" src="/public/js/search.js" charset="utf-8"></script>
    <script src="/public/js/addSong.js" charset="utf-8"></script>
    <script type="module" src="/public/js/index/card.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
